.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; 
}

.label {
  font-size: 0.875rem; 
  color: #374151;       
}

.container {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-radius: 0.375rem; 
  padding-left: 0.75rem;   
  padding-right: 0.75rem;
  height: 2.75rem;         
  background-color: #f9fafb; 
  border-color: #cbd5e1;     
  cursor: pointer;
}

.input {
  flex: 1;
  background-color: transparent;
  outline: none;
  font-weight: 600;          
  color: #1b1464;            
  font-size: 1rem;
}

.input::placeholder {
  color: #9ca3af;
}

.input-disabled {
  cursor: pointer;
}


.icon,
.icon-success {
  margin-left: 0.5rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0ea5e9; 
  cursor: pointer;
}

.icon-success {
  color: #16a34a; 
}
