.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; 
  margin-bottom: 1rem; 
}

.label {
  font-size: 0.875rem; 
  color: #374151;       
}

.container {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-radius: 0.375rem; 
  padding-left: 0.75rem;   
  padding-right: 0.75rem;
  height: 2.75rem;         
  background-color: #f9fafb; 
  border-color: #cbd5e1;     
  cursor: pointer;
}

.container-disabled {
  background-color: #f3f4f6; 
  border-color: #d1d5db;
  cursor: not-allowed;
}

.input {
  flex: 1;
  background-color: transparent;
  outline: none;
  font-weight: 600;          
  color: #1b1464;            
  font-size: 1rem;
}

.input::placeholder {
  color: #9ca3af;
}

.input-disabled {
  background-color: #f3f4f6; 
  color: #9ca3af;            
  cursor: not-allowed;       
}

.relative-container {
  position: relative;
}

.calendar-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.calendar-popup {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 999;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.copy-placeholder {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: #1b1464;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
