.dark{
    @apply bg-lameduse-primary text-white;
}

.other_dark{
    background-color: rgb(0, 0, 0);
    color: #a4a3a3;
}

.light{
    @apply bg-lameduse-tertiary text-white;
}

.other_light{
    background-color: rgba(208, 224, 239, 0.356);
    color:rgb(110, 172, 172);
}


.j_calendar{
    padding: 6px;
    text-align: center;
    cursor: pointer;
}

.j_calendar:hover{
    background-color: rgba(27, 207, 220, 0.317);
    text-align: center;
}

.j_calendar_selected {
  background-color: rgba(27, 207, 220, 0.669); /* couleur du jour sélectionné forme square*/
  color: white;
  text-align: center;
}

.td-rounded-hover:hover{
  border-radius: 10px;
  background-color: rgba(27, 159, 220, 0.669);
  text-align: center;
}


.j_calendar_selected_circle{
  background-color: rgba(27, 207, 220, 0.669); /* couleur du jour sélectionné forme circle*/
  color: white;
  text-align: center;
  border-radius: 10px;
  @apply bg-lameduse-secondary text-white;
}


.other-month-square{
  color: #929292a4;
  text-align: center;
}

.other-month-circle{
  color: #717171cb;
  text-align: center;
  border-radius: 10px;
}


.other-month-circle:hover{
 background-color: rgba(94, 95, 95, 0.237);   
}

.other-month-square:hover{
 background-color:rgba(134, 134, 134, 0.237);   
}

.scroll_an {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  max-height: 250px;
}

.scroll_an button {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
}

.global {
  min-width: 250px;
  max-width: 100%;
  min-height: 300px;
  max-height: 100vh;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back{
  width: 250px;
  font-size: 12px;
  @apply text-lameduse-secondary;
}

